#weather {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(farthest-corner at 10rem 10rem, rgba(28, 49, 245, 0.94) 0%, rgba(28, 8, 245, 0.94) 10%, rgba(107, 215, 227, 0.94) 100%), url(img/background.jpg);
}
