* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#weather {
    height: 100%;
    background-image: radial-gradient(farthest-corner at 10rem 10rem, rgba(28, 49, 245, 0.94) 0%, rgba(28, 8, 245, 0.94) 10%, rgba(107, 215, 227, 0.94) 100%), url(img/background.jpg);
}
